body { margin: 0; padding: 0;	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
/*	font-size: 16px;*/
	color: #000;
	background-color: #fff;
	text-align: center;
	font-size:0.625em;
  }
a img { border: none }
a { color: #700101; }
#head { position: relative;
  background: url('/images/body_back.png') repeat-x;
  text-align: left;
  padding-top: 10px;	width: 100%;
  height: 80px;
  }
#head_inner { position: relative;}
#head_inner object { float: left; }
#logo
{
  width: 205px; height: 75px;
  position: absolute;
  top: 0px;
  left: 10px;
  float: left;
}
#logo a { text-decoration: none }
#logo h4
{
  margin: 0;
  padding: 0;
  margin-left: 43px;
  margin-top: 15px;
  font-size: 10pt;
  line-height: 10pt;
  color: #000; font-weight: bold;
  font-family: Arial;
}
#logo h3
{
  margin: 0;
  padding: 0;
  margin-left: 30px; margin-top: -3px;
  font-size: 24pt;
  line-height: 24pt; color: #000; font-family: Impact;
/*  position: absolute;*/
}

#email { float: right; margin: 0; clear: both; display: block; }
#email a { text-decoration: none; color: #000; font-size: 1.2em; font-weight: bold; display: block; }

#wrapper { /*width: 900px; margin: 0 auto*/ }
.wrapper { width: 900px; margin: 0 auto; }
#container { clear: both; text-align: justify; padding-top: 10px; font-size: 1.6em;/*text-indent: 10px;*/ }

#container h1 {
  text-align: left;
}
h2, h3, .right, .left, .date, .more { text-align: left; text-indent: 0px; font-family: Arial, sans-serif; }

.more, .left, .right { font-family: Georgia, "Times New Roman", Times, serif; }

#bottom_left { width: 560px; float: left; padding: 10px; }
#bottom_right { width: 298px; float: left; padding: 10px;
  text-align: left; border: 1px solid #c30202; }

#footer { margin: 10px auto; border-top: 1px solid; margin-top: 10px; clear: both; width: 900px; text-align: left; padding-top: 5px }
#footer p { margin: 0; font-size: 10pt; color: #B7B3B4 }

p#created { font-weight: bold; color: #000; }

#footer .left { width: 300px; float: left; }
#footer #aux_menu { float: right; width: 400px }

#preambula { font-size:0.8em; }


ul.menu
{
  font-family: Arial, sans-serif;
  display: block;
/*  float: right; */margin: 0; padding: 0;
  margin-top: 50px; height: 30px; line-height: 30px;
  list-style: none;
  font-weight: bold;
  background: url('/images/menu_back.png') repeat-x;
}
.menu li { float: left; height: 30px; display: inline; margin: 0 }
.menu li a { text-decoration: none; color: #000; font-size: 14pt; line-height: 30px;
display: inline-block; height: 100%; margin: 0;
padding: 0 15px;
}
.menu li.current a, .menu li a:hover { background: url('/images/menu_current_back.png'); }

.menu li.divider { background: url('/images/menu_divider.png') right no-repeat; /*width: 2px;*/ padding: 0px; }
.menu li.end { background: url('/images/menu_divider.png') right no-repeat; padding: 0px; }
.menu li.begin { background: url('/images/menu_begin.png') left no-repeat, url('/images/menu_divider.png') right no-repeat; padding: 0px; }

#aux_menu ul.menu {
  display: block;
  height: 10px;
  margin: 0; padding: 0;
  list-style: none;
  float: right;
  font-weight: normal;
  background: none;
}

#aux_menu .menu li { float: left; padding: 0 15px; margin: 0; height: 10px; background: none; }
#aux_menu .menu li a { text-decoration: underline; color: #c30202; font-size: 1.2em;
height: 10px; line-height: 100%; text-transform: lowercase; float: left; padding: 0; }
#aux_menu .menu li.current a, #aux_menu .menu li a:hover { text-decoration: underline; background: none; }
#aux_menu .menu li.current,  #aux_menu .menu li:hover { background: none }

a.active_page { background: #B7B3B4; padding: 0 4px 0; text-decoration: none; color: #fff; }

ul#main_list { list-style: none; margin: 0 }
ul#main_list h3 a { color: #000; font-size: 0.875em; border-bottom: 1px solid; text-decoration: none }
ul#main_list h3 a:hover { color: #f00/*#FF7F7F*/ }

#main_article { margin-top: 15px; }
#main_article h2 { font-size: 1.2em }
h2 a { color: #000; text-decoration: none; border-bottom: 1px solid; font-size: .875em }
h2 a:hover { color: #f00 }

h2, h3 { margin: 0; padding: 0; margin-bottom: 5px; }
#main_article { font-size: 1.1em; text-align: justify; }

.article_bottom { margin-top: 5px; margin-bottom: 25px; clear: both; float: left; width: 100% }

.more { float: left; width: 300px; }
.more a:hover { color: #f00; }
.more a { color: #000; font-family: Arial, sans-serif; text-decoration: none; font-size: 1em }
#main_article .more a { font-size: 0.8em }

a.comments { font-size: 9pt; color: #B7B3B4; border-bottom: 1px solid; text-decoration: none;
line-height: 19px; float: right;
}

a.comments:hover { border-bottom: 1px solid; }

.date
{
  font-size: 10pt;
  margin: 5px 0 5px 0;
  color: #FF7F7F;
  font-family: Arial, sans-serif;
}

#scroller
{
  width: 700px;
  margin: 0px auto 10px;
/*  height: 170px;*/
  overflow: hidden;
}

#scroller div.element
{
  width: 700px;
/*  height: 170px;*/
  float: left;
	text-align: justify;
}

#scroller div.scroll_inner
{
  width: 3000px;
/*  height: 170px;*/
  overflow: hidden;
}

#scroller div.element h2
{
  color: red;
  font-size: 20px;
  line-height: 20px;
  width: 500px;
  margin-bottom: 15px;
}

.element div.left
{
  float: left;
  width: 500px;
  margin-left: 20px;
  height: 130px;
  margin-bottom: 5px
}

.element a { font-size: 14pt; line-height: 16px; color: red }
.element a:hover { text-decoration: underline }
.element a.left { float: left; }
.element a.right { float: right; }

.element img
{
  float: left;
  margin-left: 10px;
}

.created_item { float: left; width: 435px; margin-bottom: 30px; text-align: left; }
.created_item:nth-child(even) { margin-right: 30px }
.created_item h4 { margin: 0; line-height: 100%; margin-top: 5px; margin-bottom: 10px }
.created_item img { border: 1px solid #c30202; padding: 6px; float: left; margin: 5px; margin-right: 10px; margin-left: 0; }
.created_item p.date { clear: both; }

.created_item p { margin: 0; font-size: 1em }

#bottom_right a { padding-left: 30px; display: block; margin-bottom: 10px;
  height: 24px; line-height: 24px;
  color: #000; font-weight: bold; font-size: 10pt; text-decoration: none;
}

#bottom_right a.allowed:hover { color: #f00 }
#feed { background: url('/images/rss.jpg') no-repeat; }
#bottom_right #vk_link { background: url('/images/vk.png') no-repeat; color: #B7B3B4 }
#bottom_right #twitter_link { background: url('/images/twitter.png') no-repeat; }
#bottom_right #fb_link { background: url('/images/fb.png') no-repeat; color: #B7B3B4 }

.left { float: left; width: 290px; margin-right: 15px; }
.right { margin-left: 305px; }
.right b { font-size: 10pt; }

img#foto { float: right; }

h3.info { padding-left: 36px; height: 32px; font-size: 12pt; line-height: 32px; }
h3#education { background: url('/images/icons/edu.jpg') no-repeat; }
h3#skills { background: url('/images/icons/skills.jpg') no-repeat; }
h3#exp { background: url('/images/icons/exp.jpg') no-repeat; }
h3#interest { background: url('/images/icons/question.jpg') no-repeat; }

ul.exp { font-size: 9pt; /*list-style: none;*/ list-style-position: inside; padding: 0 }
ul.exp li { margin-bottom: 10px; border-bottom: 1px dashed; }

/*color: #B7B3B4;*/
#disqus_thread a { /*color: #FF7F7F; */font-size: 9pt !important;}
ul.dsq-clearfix { margin: 0 !important;}
.clearfix h3 { width: 400px !important; clear: none; margin-bottom: 10px !important; font-size: 1em; font-weight: regular }
.dsq-reply {margin: 0 !important}
.dsq-community-preview { padding-top: 5px; margin-bottom: 5px !important }
#dsq-pagination { width: 500px; float: left; }
.dsq-trackback-url input { padding: 0 !important }
.dsq-trackback-url { font-size: 9pt; float: right }
.dsq-comment-message { margin-bottom: 0.5em !important }

.right p { margin-left: 2em }
div.year { clear: both; width: 100% }
div.year h3 { font-size: 1.1em; font-weight: normal; border-bottom: 1px solid; }
div.year p { font-size: 0.825em; }

ul.created_list { list-style: none; padding: 0; padding-left: 10px; margin-top: 3px; }
a.created_top { margin-top: 5px; }