ul.yiiPager {
    border: 0 none;
    display: inline;
    line-height: 100%;
    margin: 0;
    padding: 0;
}
ul.yiiPager li {
    display: inline;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
    color: #c30202;
    padding: 3px 10px;
    text-decoration: none;
}
ul.yiiPager .page a {
    font-weight: normal;
}
ul.yiiPager a:hover {
    background: none repeat scroll 0 0 #FF7F7F;
    color: #FFFFFF;
}
ul.yiiPager .selected a {
    background: none repeat scroll 0 0 #c30202;
    color: #FFFFFF;
    font-weight: bold;
}
ul.yiiPager .hidden a {
    background: none;
    color: #B7B3B4;
}
ul.yiiPager .first, ul.yiiPager .last {
    display: none;
}
